 {% extends 'main.html' %}
    {% block content %}
    {% load static %}
    <div id="img3">
        <h1>Jackie Chan</h1>

        <p>Jackie Chan Adventures is an animated television series developed by John Rogers, Duane Capizzi and Jeff Kline, and produced by Columbia TriStar Television (now Sony Pictures Television), Adelaide Productions, The JC Group and Blue Train Entertainment. The cartoon series premiered on September 9, 2000, and ran for five seasons until its conclusion on July 8, 2005. The series focuses on a fictionalized version of Hong Kong action film star Jackie Chan,[1][2] who operates in life as an archaeologist and special agent, combatting threats that are mainly magical and supernatural (based on real-life mythologies and supernatural stories from Asia and around the world) with the aid of his family and allies.

Many of the episodes created for Jackie Chan Adventures featured references to Chan's actual works, with the actor making live-action appearances in the form of an interview situation, answering questions about his life and work. The series was aired in the United States on Kids' WB, with re-runs and second run premieres airing on Toon Disney's Jetix programming block, Cartoon Network's Toonami block, and in Canadian broadcasts on YTV's Vortex. The series proved a success on children's television, including abroad, leading to the creation of a toy franchise and two video games based on the series.</p>
   
    <img src="{% static 'images/chan.jpg' %}" alt="">
     </div>
    {% endblock content %}
 