 {% extends 'main.html' %}
    {% block content %}
     {% load static %}
    <div id="img4">
        <h1>Dora the explorer</h1>

        <p>Dora the Explorer is an American children's animated television series in the Dora the Explorer franchise, created by Chris Gifford, Valerie Walsh Valdes, and Eric Weiner that premiered on Nickelodeon on August 14, 2000, and ended on August 9, 2019. The series was produced by Nickelodeon Animation Studio.

The series focuses on the adventures of a Latina girl named Dora and her monkey friend Boots, with a particular emphasis on the Spanish language.[2] The series is presented in the style of both an interactive CD-ROM game and a point-and-click adventure game, with gimmicks such as Dora asking the viewer to help her by showing the current items in her inventory and asking the viewer which one is best for the current scenario.</p>
 
    <img src="{% static 'images/dora.jpg' %}" alt="">
     </div>
    {% endblock content %}
   