
    
    {% extends 'main.html' %}
    {% block content %}
    {% load static%}
    
    <div id="img1">
        <h1>Heidi</h1>

        <p>Heidi, Girl of the Alps (Japanese: アルプスの少女ハイジ, Hepburn: Arupusu no Shōjo Haiji) is a Japanese animated television series produced by Zuiyo Eizo and the series itself based on the novel Heidi by Johanna Spyri (1880–1881). It was directed by Isao Takahata and features contributions by numerous other anime filmmakers, including Yoichi Kotabe (character design, animation director), Toyoo Ashida (co-character design, animation director), Yoshiyuki Tomino (storyboard, screenplay), and Hayao Miyazaki (scene design, layout, screenplay).</p>
    
    <img src="{% static  'images/download.jpg'%}"alt="">
     </div>
    {% endblock content %}
    