 {% extends 'main.html' %}
    {% block content %}
     {% load static%}
    <div id="img5">
        <h1>Little Krishna</h1>

        <p>Little Krishna is an Indian animated television series created by Reliance Entertainment and India Heritage Foundation in 2009.[1] The series is based on Srila Prabhupada’s book - Kṛṣṇa, the Supreme Personality of Godhead, (ISBN 978-0-8921-3333-8) and other source books of information on Krishna.[2] It was originally aired on Nickelodeon[3][4] and later aired on Discovery Kids in 2014 and Sun TV.[5]

The series is based on the legend of Hindu deity Krishna. It has 13 standalone episodes involving Krishna between the ages of five and nine."This epic project celebrating Krishna’s childhood pastimes in Vrindavan is dedicated to His Divine Grace A.C. Bhaktivedanta Swami Prabhupada, the Founder-Acharya of International Society for Krishna Consciousness</p>
  
    <img src="{% static  'images/krishna.jpg'%}"alt="">
    </div>
    {% endblock content %}
   