 {% extends 'main.html' %}
    {% block content %}
     {% load static%}
    <div id="img6">
        <h1>Stuart Little</h1>

        <p>Stuart Little is a 1999 American live-action animated comedy film loosely based on E. B. White's novel of the same name. Directed by Rob Minkoff in his live-action directorial debut, with a screenplay by M. Night Shyamalan and Greg Brooker, the film features an ensemble cast consisting of Geena Davis, Hugh Laurie and Jonathan Lipnicki, with the voices of Michael J. Fox as the titular character, Nathan Lane, Chazz Palminteri, Steve Zahn, Bruno Kirby and Jennifer Tilly. It was Estelle Getty's final film role.

Stuart Little premiered in Westwood at Mann Village Theatre on December 5, 1999, and was released in the United States on December 17, 1999, by Sony Pictures Releasing through its Columbia Pictures label.[5] The film received generally positive reviews and became a box office success, grossing over $300 million worldwide. It was nominated for an Academy Award for Best Visual Effects, but lost to The Matrix.[6] After its success, it also started a franchise with the sequel Stuart Little 2 in 2002, the short-lived television series Stuart Little in 2003, and the direct-to-video sequel Stuart Little 3: Call of the Wild in 2006</p>
 
    <img src="{% static  'images/stuart.jpg'%}"alt="">
    </div>
    {% endblock content %}
    