 {% extends 'main.html' %}
    {% block content %}
     {% load static%}
    <div id="img2">
        <h1>Magic Wonderland</h1>

        <p>A baby princess named Ocean is sent away from the North Pole by her mother because of the tyranny of the magma dragon who controls the volcano. The next twelve years, Princess Ocean lives on a local island and encounters a transforming polar bear whom she names Roly Poly. And she talks to a duo of little fish. While encountering the pirates, she meets an inventor named Momo. Their plan is to subdue and defeat the magma dragon</p>
    
    <img src="{% static  'images/wonder.1.jpg'%}"alt="">
    </div>
    {% endblock content %}

   