<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
<link rel="stylesheet" href="{% static 'stylesheet/main.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/nav.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/chan.css' %}">
<link rel="stylesheet" href="{% static 'css/dora.css' %}">
<link rel="stylesheet" href="{% static 'css/heidi.css' %}">
<link rel="stylesheet" href="{% static 'css/krishna.css' %}">
<link rel="stylesheet" href="{% static 'css/magic.css' %}">
<link rel="stylesheet" href="{% static 'css/stuart.css' %}">

</head>
<body>
   <video class="bg" src="{% static 'videos/Chutti_TV_Logo_Song_480p.mp4'%}" autoplay muted loop></video>
    {% include 'nav.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'footer.html'%}
   
    
</body>
</html>